camera_detection/samurai
camera_detection/my_video/*.mp4
camera_detection/my_video/*.mov
camera_detection/my_inputs/chunks/*.mp4
camera_detection/my_inputs/chunks/*.mov
camera_detection/my_outputs/*.mp4
camera_detection/my_outputs/*.mov

RF_localization/anchor_tag_stm32/.vscode
RF_localization/anchor_tag_stm32/.metadata
RF_localization/anchor_tag_stm32/.settings
RF_localization/anchor_tag_stm32/[Rr]elease
RF_localization/anchor_tag_stm32/[Dd]ebug
RF_localization/anchor_tag_stm32/*.launch
